@use "variables.sass"
.icon
  width: 70px
  height: 35px
  background-color: variables.$dark-grey
  color: variables.$text-color
  border: 1px grey solid
  border-radius: 3px
  position: absolute
  top: 27px
  right: 50px

  &:hover
    background-color: variables.$medium-grey

.iconUser
  width: 35px
  height: 35px
  background-color: rgb(167, 61, 0)
  color: variables.$text-color
  outline: 1px
  border-radius: 50%
  position: absolute
  top: 27px
  right: 50px

.bell
  width: 40px
  height: 40px
  background-color: variables.$dark-grey
  border-radius: 50%
  position: absolute
  top: 25px
  right: 150px